.footer{
    padding: 85px 0 66px 0;
    &__title{
        color:$title_color;
        font-size: 36px;
        text-transform:none;
        font-family: "Proxima Nova Semibold"
    }
    &__form{
        margin-top: 77px;
        display: grid;
        grid-template: repeat(2,minmax(41px, auto)) / repeat(3,264px);
        justify-content: space-evenly;
        .error{
            border: 1px solid red;
        }
        label.error{
            border: none;
            position: absolute;
            left: 0;
            top: -20px;
            color: black;
            border: none;
            text-align: center;
            font-size: 14px;
        }
    }
    &__input{
        position: relative;
        input{
            width: 264px;
            height: 41px;
            border: 1px solid $main_color;
            border-radius: 3px;
            padding: 18px 12px 12px 42px;
            font-size: 14px;
            color: #000;
        }
    }
    &__btn{
        width: 264px;
        height: 52px;
        margin: 0 auto;
        display: block;
        margin-top: 52px;
        box-shadow: none;
        grid-column: 2/3;
        &:hover{
            box-shadow: 0px 0px 10px #000;
        }
    }
}

#name{
    background: url(../icons/form_name.png) no-repeat left;
    background-position: 5%;
}

#email{
    background: url(../icons/form_email.png) no-repeat left;
    background-position: 5%;
}

#phone{
    background: url(../icons/form_phone.png) no-repeat left;
    background-position: 5%;
}