.header {
    height: 50px;
    padding-top: 3px;

    &__wrapper {
        @include f;
        align-items: center;
        @include jcsb;
    }

    &__desc {
        font-family: "Proxima Nova Semibold";
        font-size: 0.7vw;

        span {
            font-family: "Proxima Nova Bold";
            color: #0072BA;
        }
    }

    &__divider {
        height: 45px;
        width: 2px;
        background-color: $main_color;
    }
}