.promo{
    background: url('../img/promo_bg.jpg') center center/cover no-repeat;
    min-height: 570px;
    position: relative;
    &__btn{
        position: absolute;
        top: 371px;
        left: 70px;
    }
}